 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300;500&display=swap');
 
 /*    font-family: 'Roboto', sans-serif;

    font-family: 'Ubuntu', sans-serif;*/

body {
    margin: 0px;
}

#banner {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    background-image: url(data/images/banners/6.jpg)
}

#notlogo {
    font-size: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    mix-blend-mode: exclusion;
    display: block;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

p, a, li {
    font-family: 'Roboto', sans-serif;
    color: black;
}

li {
    margin-bottom: 10px;
}

.center {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
